#twitter-feed-slider .feed_wrapper{
	background:#303030;
	padding-top:50px;
	padding-bottom:50px;
}
#twitter-feed-slider .tweet_icon {
	font-size: 120px;
	color: #fff;
}
#twitter-feed-slider .feed_inner{
	font-style:italic;
	margin-top:30px;
	color: #fff;
 }
#twitter-feed-slider .feed_quote{
	color:#44c4df;
	font-size: 60px;
	top: -10px;
}


#twitter-feed-slider .tweet_bubble{
   width: 120px;
   margin-right: auto;
   margin-left: auto;
   min-height: 40px;
   padding: 5px;
   background: #22c3f1;
   position: relative;
   text-align: center;
}
#twitter-feed-slider .tweet_bubble:before {
	content:"";
	position: absolute;
	right: 100%;
	top: 0px;
	width: 0;
	height: 0;
	border-top: 15px solid #22c3f1;
	border-left: 15px solid transparent;
}